
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<h2 class="text-center">Error404</h2>
<p class="text-center">Bạn đã nhập sai đường dẫn. XIN VUI LÒNG KIỂM TRA LẠI</p>

