
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
        <div class="carousel-item active my-carousel-item">
            <img class="d-block w-100" src="~/public/images/slider/slider_pic2.jpg" alt="First slide">
        </div>
        <div class="carousel-item my-carousel-item">
            <img class="d-block w-100" src="~/public/images/slider/slider_pic3.jpg" alt="Second slide">
        </div>
        <div class="carousel-item my-carousel-item">
            <img class="d-block w-100" src="~/public/images/slider/slider_pic5.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="famous-say">
    <p>"A journey of a thousand miles begin with a fabulous pair of shoes"</p>
    <h3>-Hudson + Bleecker</h3>
</div>
<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 data-mask="PRODUCT">- SẢN PHẨM MỚI</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_1.jpg    " alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_2.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_3.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_4.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_5.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_6.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_7.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_8.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_9.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_10.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_11.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_12.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>
            @*pagination start*@
            <div class="col-4"></div>
            <div class="col-4" style="display:flex;justify-content:center;margin-top:15px;">

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            @*pagination*@
            <div class="col-12 mt-4">
                <h3 data-mask="HOT">- SẢN PHẨM HOT</h3>
            </div>
            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item container" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top" style="float:right">
                    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                    <a class="btn-floating" href="#multi-item-example" data-slide="next">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
                <!--/.Controls-->
                <!--Indicators-->
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                    <!--First slide-->
                    <div class="carousel-item active">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_13.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>
                     

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_14.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_15.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_16.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_1.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_2.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_3.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_4.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.Second slide-->



                </div>
                <!--/.Slides-->

            </div>
            <!--/.Carousel Wrapper-->




            <div class="col-12 mt-5">
                <h3 data-mask="DISCOUNT">- SẢN PHẨM KHUYẾN MÃI</h3>
            </div>
            <!--Carousel Wrapper-->
            <div id="multi-item-example2" class="carousel slide carousel-multi-item container" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top" style="float:right">
                    <a class="btn-floating" href="#multi-item-example2" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                    <a class="btn-floating" href="#multi-item-example2" data-slide="next">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
                <!--/.Controls-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                    <!--First slide-->
                    <div class="carousel-item active">

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_5.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_6.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_7.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_8.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_9.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_10.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_11.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                            <div class="card my-card" style="width:100%;">
                                <a href="~/ChiTietSanPham1">
                                    <img class="card-img-top" src="~/public/images/product/product_pic_12.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body my-card-body">
                                    <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                                    <p class="card-text">Giá: 4.500.000đ</p>
                                    <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.Second slide-->



                </div>
                <!--/.Slides-->

            </div>
            <!--/.Carousel Wrapper-->



            <div class="col-12 mt-5">
                <h3 data-mask="NEW">- TIN TỨC</h3>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/XacDinhSize">
                        <img class="card-img-top" src="~/public/images/new/new_pic_1.jpg" style="width:350px;height:192px;" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/XacDinhSize" class="card-title my-card-title">XU HƯỚNG GIÀY HIỆN NAY</a>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum tincidunt libero quis venenatis.Donec dictum tincidunt libero quis venenatis...
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/XacDinhSize">
                        <img class="card-img-top" src="~/public/images/new/new_pic_8.jpg" style="width:100%;height:192px;background-color:#EAEAEA;" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/XacDinhSize" class="card-title my-card-title">XU HƯỚNG GIÀY HIỆN NAY</a>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum tincidunt libero quis venenatis.Donec dictum tincidunt libero quis venenatis...
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
                <div class="card my-card" style="width:100%;">
                    <a href="~/XacDinhSize">
                        <img class="card-img-top" src="~/public/images/new/new_pic_9.jpg" style="width:100%;height:192px;background-color:#EAEAEA;" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/XacDinhSize" class="card-title my-card-title">XU HƯỚNG GIÀY HIỆN NAY</a>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum tincidunt libero quis venenatis.Donec dictum tincidunt libero quis venenatis...
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
