
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.413221605297!2d106.78286571428758!3d10.856142260687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e6385bd87%3A0x4911cb0a6db60f3b!2sHutech!5e0!3m2!1svi!2s!4v1609867866470!5m2!1svi!2s"
            frameborder="0" style="border:0;width:100%;height:45vw;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

<div class="container">
    <div class="row py-5">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 bg-grey px-4 py-4 contact-left">
            <h3 class="contact-title">TRANG CHÍNH THỨC CỦA THỨ 6 NGÀY 13</h3>
            <h6>Thông tin liên hệ</h6>
            <p class="mt-2">
                ⛪ <b>Địa chỉ: Hutech Hiệp Phú, Quận 9, Thành phố Hồ Chí Minh</b>
            </p>
            <p>
                <b>Email : hutech@hutech.edu.vn</b>
            </p>
            <p>
                <a href="https://localhost:44375/" class="text-danger">
                    <b>https://thu6ngay13.vn</b>
                </a>
            </p>
            <p>
                <a href="https://www.facebook.com/613-Shoes-105373734807001" class="text-danger">
                    <b>https://www.facebook.com/thu6ngay13</b>
                </a>
            </p>
            <p>
                <a href="https://goo.gl/maps/zH6WFurr8hWRJFQW9" class="text-danger">
                    <b>https://goo.gl/maps/thu6ngay13</b>
                </a>
            </p>
            <p>
                <a href="https://www.youtube.com/watch?v=C8Srjo3Gw-E" class="text-danger">
                    <b>https://www.youtube.com/thu6ngay13</b>
                </a>
            </p>
            <p>
                ☎️ <b> Hotline Bán Hàng: 0909.xxx.xxx - 0909.xx.xxxx</b>
            </p>
            <p>
                ☎️ <b> Hotline CSKH: 0902.xxx.xxx</b>
            </p>
            <img src="~/public/images/map.jpg" class="mx-auto" style="width:50%;" alt="Alternate Text" />
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-12 mb-2">
                    <h3 class="my-title" data-mask="LIÊN HỆ">- VỚI CHÚNG TÔI</h3>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Họ Tên <sub class="text-danger">*</sub></label>
                        <input type="text" name="fullName" value="" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>EMAIL <sub class="text-danger">*</sub></label>
                        <input type="email" name="email" value="" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Số Điện Thoại <sub class="text-danger">*</sub></label>
                        <input type="tel" name="phonenumber" value="" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Địa chỉ <sub class="text-danger">*</sub></label>
                        <input type="text" name="address" value="" class="form-control" />
                    </div>
                </div>
                <div class="col-12">
                    <label>Nội dung</label>
                    <textarea name="content" rows="6" class="form-control"></textarea>
                </div>
                <div class="col-12">
                    <p class="text-danger my-note"><sub class="text-danger">*</sub> Bắt buộc điền</p>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <button class="btn btn-danger my-btn">GỬI</button>
                        <button class="btn btn-danger my-btn ml-3">NHẬP LẠI</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
