<div class="col-12 mt-5">
    <h3 data-mask="DISCOUNT">- SẢN PHẨM KHUYẾN MÃI</h3>
</div>
<!--Carousel Wrapper-->
<div id="multi-item-example2" class="carousel slide carousel-multi-item container" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top" style="float:right">
        <a class="btn-floating" href="#multi-item-example2" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example2" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!--/.Controls-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_5.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_6.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_7.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_8.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->
        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_9.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_10.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_11.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-3" style="float:left">
                <div class="card my-card" style="width:100%;">
                    <a href="~/ChiTietSanPham1">
                        <img class="card-img-top" src="~/public/images/product/product_pic_12.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body my-card-body">
                        <a href="~/ChiTietSanPham1" class="card-title my-card-title">JORDAN 1 LOW GREY CAMO</a>
                        <p class="card-text">Giá: 4.500.000đ</p>
                        <a href="#" class="btn btn-danger" style="float:right;">Mua</a>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->



    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
