
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container">
    <div class="row py-4 aboutus">
        <div class="col-lg-8">
            <h3>CÁCH ĐO CỠ CHÂN VÀ XÁC ĐỊNH SIZE GIÀY VIỆT NAM, US, UK CHUẨN XÁC TẠI THỨ 6 NGÀY 13</h3>

            <p>Chọn đươc giày vừa size luôn là một bài toán khó đối với các khách hàng thường xuyên mua giày online. Đặc biệt khi chọn giày thể thao bạn cần size vừa vặn để tăng hiệu quả luyện tập. Vậy thì hãy cùng THU6NGAY13.VN thực hiện nhanh những bước sau đây để tìm ra size giày chuẩn xác nhất dành cho mình nhé.</p>
            <img src="~/public/images/new/new_pic_3.jpg" class="img-fluid" alt="Alternate Text" />
            <p class="my-2">
                <b>
                    CHUẨN BỊ
                </b>
            </p>
            <p>
                1 tờ giấy trắng lớn, phải to hơn bàn chân bạn1 cây bút chì1 cây thước đo
            </p>
            <p class="">
                <b>
                    CÁCH THỰC HIỆN
                </b>
            </p>
            <p>
                <i>Quy ước:</i>
            </p>
            <p>
                Cỡ giày là N Chiều dài bàn chân là L
            </p>
            <p class="">
                <b>
                    B1: VẼ KÍCH CỠ CHÂN
                </b>
            </p>
            <p>
                Bạn đặt tờ giấy xuống sàn nhà, sau đó đặt bàn chân của bạn thật chắc chắn lên tờ giấy.
                Dùng bút chì để vẽ lại khung bàn chân của mình cho thật chuẩn.
                Bạn nên giữ bút chì thẳng đứng và vuông góc với tờ giấy để vẽ được chính xác hơn.
            </p>
            <p>
                **Lưu ý: Bạn phải luôn giữ bàn chân ở vị trí cũ và không được di chuyển bàn chân ngay khi dừng bút chì giữa chừng.
            </p>
            <img src="~/public/images/new/new_pic_4.jpg" class="img-fluid" alt="Alternate Text" />
            <p class="mt-2">
                <b>
                    B2: ĐÁNH DẤU CÁC SỐ ĐO CHIỀU DÀI VÀ CHIỀU RỘNG
                </b>
            </p>
            <p>
                Bạn sử dụng bút chì để vẽ một đường thẳng để chạm vào các điểm trên cùng,
                dưới cùng và 2 bên của bản phác thảo bàn chân như hình ảnh dưới để chúng ta đo chiều dài chân.
            </p>
            <img src="~/public/images/new/new_pic_5.jpg" class="img-fluid" alt="Alternate Text" />
            <p class="mt-2">
                <b>
                    B3: XÁC ĐỊNH CHIỀU DÀI BÀN CHÂN (L)
                </b>
            </p>
            <p>
                Bạn sử dụng thước kẻ để đo chiều dài từ phía dưới dòng kẻ trên đến dòng kẻ dưới mà bạn đã vẽ.
                Sau khi đo xong, bạn có thể làm tròn số trong khoảng 0.5cm.
                Bạn nên làm tròn xuống để trừ hao cho những sai lệch khi vẽ khuôn chân vì các đường kẻ thường chênh lên một chút so với kích thước thật của bàn chân bạn.
            </p>
            <p>
                **Lưu ý khi đo: bạn phải đo trên đường thẳng vuông góc với hai đường kẻ trên và dưới.
            </p>
            <img src="~/public/images/new/new_pic_6.jpg" class="img-fluid" alt="Alternate Text" />
            <p class="mt-2">
                <b>
                    B4: TÌM VÀ CHỌN SIZE GIÀY PHÙ HỢP
                </b>
            </p>
            <p class="">
                <b>
                    QUY ĐỔI SIZE GIÀY NỮ ..................... QUY ĐỔI SIZE GIÀY NAM
                </b>
            </p>
            <img src="~/public/images/new/new_pic_2.jpg" class="img-fluid" alt="Alternate Text" />
            <p class="mt-2">
                <b>
                    QUY ĐỔI SIZE GIÀY ĐÁ BÓNG CỦA NIKE, ADIDAS VÀ PUMA
                </b>
            </p>
            <img src="~/public/images/new/new_pic_7.jpg" class="img-fluid" alt="Alternate Text" />
            <p class="mt-2">
                <i>
                    Một số lưu ý để lấy size giày chuẩn:
                </i>
            </p>
            <p class="">
                Tốt nhất bạn nên đo size giày vào cuối ngày vì lúc này đôi chân bạn được thư giản hoàn toànBạn nên đo cả 2 chân,
                nếu có sai số giữa 2 bàn chân thì hãy chọn đôi giày có cỡ bằng với chân lớn hơn của bạnNếu chân bạn ốm và bề ngang nhỏ,
                hẹp, mỏng thì bạn chọn size giày theo hướng dẫn bên trên.Nếu chân bạn mập, dày và có bề ngang rộng thì bạn chọn size theo hướng dẫn bên trên cộng thêm 1 size.
                Vd: bạn là nữ: dài chân đo được là size 36, nhưng chân có bề ngang rộng , mập và tròn đầy thì chọn size 37.
            </p>
            <p class="">

                Sau khi thực hiện theo những gì chúng tôi đã chỉ dẫn các bạn đã tìm ra được size giày đúng của mình chưa?

            </p>
            <p class="mt-4">
                <i>Cửa Hàng Bán Giày Sneaker Chính Hãng Tại HCM, Bán Giày Sneaker Chính Hãng Tại HCM, Shop Bán Giày Sneaker Chính Hãng Tại HCM.</i>

            </p>
            <p class="pt-2">⚡️<b>THU6NGAY13.VN</b>  ✓15 Ngày Đổi Hàng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng ✓Bảo Hành Hàng Chính Hãng Trọn Đời.!!!</p>
            <h6>Thông tin liên hệ</h6>
            <p class="mt-2">
                ⛪ <b>Địa chỉ: Hutech Hiệp Phú, Quận 9, Thành phố Hồ Chí Minh</b>
            </p>
            <p>
                <b>Email : hutech@hutech.edu.vn</b>
            </p>
            <p>
                <a href="https://localhost:44375/" class="text-danger">
                    <b>https://thu6ngay13.vn</b>
                </a>
            </p>
            <p>
                <a href="https://www.facebook.com/613-Shoes-105373734807001" class="text-danger">
                    <b>https://www.facebook.com/thu6ngay13</b>
                </a>
            </p>
            <p>
                <a href="https://goo.gl/maps/zH6WFurr8hWRJFQW9" class="text-danger">
                    <b>https://goo.gl/maps/thu6ngay13</b>
                </a>
            </p>
            <p>
                <a href="https://www.youtube.com/watch?v=C8Srjo3Gw-E" class="text-danger">
                    <b>https://www.youtube.com/thu6ngay13</b>
                </a>
            </p>
            <p>
                ☎️ <b> Hotline Bán Hàng: 0909.xxx.xxx - 0909.xx.xxxx</b>
            </p>
            <p>
                ☎️ <b> Hotline CSKH: 0902.xxx.xxx</b>
            </p>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 right-bar">
            <a href="~/loai-san-pham">
                <img src="~/public/images/about_us/aboutus_pic5.jpg" class="img-fluid" alt="Alternate Text" />
            </a>
            <h3 class="my-3">TIN TỨC</h3>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_1.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_8.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_9.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_1.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_8.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_9.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_1.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <h3 class="my-3">SẢN PHẨM MỚI</h3>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_1.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_2.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_3.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_4.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_5.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_6.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_7.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <h3 class="my-3">DANH MỤC</h3>
            <div class="row my-3">
                <a href="#" class="col-3 cate">Adidas</a>
                <a href="#" class="col-3 cate">Nike</a>
                <a href="#" class="col-3 cate">Yeezy</a>
                <a href="#" class="col-3 cate">Jordan</a>

            </div>
        </div>
     
    </div>
</div>



