
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container">
    <div class="row py-4 aboutus">
        <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12">
            <h3>CỬA HÀNG BÁN GIÀY SNEAKER CHÍNH HÃNG TẠI HCM - THỨ 6 NGÀY 13 GIỚI THIỆU</h3>
            <iframe style="width:100%;height:35vw;" src="https://www.youtube.com/embed/5oDqLkLBY2Q"
                    frameborder="0" allow="accelerometer; autoplay:on; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <p>Tìm được cửa hàng giày khiến mình an tâm rất khó luôn đó mọi người ơi. Hổng nói nổi vui như nào khi gặp được <b>THỨ 6 NGÀY 13</b> luôn á, Sản phẩm chất lượng mà các dịch vụ đi kèm hấp dẫn nữa. Dân mê giày làm sao cưỡng lại <b>THỨ 6 NGÀY 13</b> đây!</p>
            <img src="~/public/images/about_us/aboutus_pic1.jpg" class="img-fluid" alt="Alternate Text" />
            <p class="my-2">
                <b>
                    THỨ 6 NGÀY 13 CHUẨN GIÀY REAL - DEAL SIÊU KHỦNG
                </b>
            </p>
            <p>
                Cửa Hàng THỨ 6 NGÀY 13 là một trong những nơi sưu tầm có khối lượng giày hiếm siêu khủng. Có những mẫu giày cực kì hype được giới sưu tầm săn lùng, thậm chí bạn sẽ bắt gặp nhiều mẫu lạ mới mà hiếm shop nào có. Có những mẫu chỉ có độc nhất 1 đôi. Ngoài ra những mẫu đang rất HOT trên thị trường sneaker về liên tục nên các bạn cứ yên tâm không sợ hết hàng.
            </p>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <img src="~/public/images/about_us/aboutus_pic2.jpg" class="img-fluid" alt="Alternate Text" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <img src="~/public/images/about_us/aboutus_pic3.jpg" class="img-fluid" alt="Alternate Text" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <img src="~/public/images/about_us/aboutus_pic4.jpg" class="img-fluid" alt="Alternate Text" />
                </div>
            </div>
            <p class="pt-2">⚡️<b>THU6NGAY13.VN</b>  ✓15 Ngày Đổi Hàng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng ✓Bảo Hành Hàng Chính Hãng Trọn Đời.!!!</p>
            <h6>Thông tin liên hệ</h6>
            <p class="mt-2">
                ⛪ <b>Địa chỉ: Hutech Hiệp Phú, Quận 9, Thành phố Hồ Chí Minh</b>
            </p>
            <p>
                <b>Email : hutech@hutech.edu.vn</b>
            </p>
            <p>
                <a href="https://localhost:44375/" class="text-danger">
                    <b>https://thu6ngay13.vn</b>
                </a>
            </p>
            <p>
                <a href="https://www.facebook.com/613-Shoes-105373734807001" class="text-danger">
                    <b>https://www.facebook.com/thu6ngay13</b>
                </a>
            </p>
            <p>
                <a href="https://goo.gl/maps/zH6WFurr8hWRJFQW9" class="text-danger">
                    <b>https://goo.gl/maps/thu6ngay13</b>
                </a>
            </p>
            <p>
                <a href="https://www.youtube.com/watch?v=C8Srjo3Gw-E" class="text-danger">
                    <b>https://www.youtube.com/thu6ngay13</b>
                </a>
            </p>
            <p>
                ☎️ <b> Hotline Bán Hàng: 0909.xxx.xxx - 0909.xx.xxxx</b>
            </p>
            <p>
                ☎️ <b> Hotline CSKH: 0902.xxx.xxx</b>
            </p>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 right-bar">
            <a href="~/loai-san-pham">
                <img src="~/public/images/about_us/aboutus_pic5.jpg" class="img-fluid" alt="Alternate Text" />
            </a>
            <h3 class="my-3">TIN TỨC</h3>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_1.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_8.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_9.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_1.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_8.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_9.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/XacDinhSize" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/new/new_pic_1.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:70%;display:inline-block;">
                    <a href="~/XacDinhSize">XU HƯỚNG GIÀY HIỆN NAY</a>
                    <p class="">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <h3 class="my-3">SẢN PHẨM MỚI</h3>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_1.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_2.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_3.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_4.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_5.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_6.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <div class="hold my-3">
                <a href="~/ChiTietSanPham1" class="right-bar-pic" style="width:20%; padding-top:20%;display:inline-block;position:relative;">
                    <img src="~/public/images/product/product_pic_7.jpg" style="position:absolute;top:0;
                left:0; width:100%;height:100%;" alt="Alternate Text" />
                </a>
                <div class="right-bar-content" style="width:75%;display:inline-block;">
                    <a href="~/ChiTietSanPham1">JORDAN 1 LOW PINK QUARTZ</a>
                    <p class="">Giá: 4.500.000đ</p>
                </div>
            </div>
            <h3 class="my-3">DANH MỤC</h3>
            <div class="row my-3">
                <a href="#" class="col-3 cate">Adidas</a>
                <a href="#" class="col-3 cate">Nike</a>
                <a href="#" class="col-3 cate">Yeezy</a>
                <a href="#" class="col-3 cate">Jordan</a>

            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 my-4">
                    <h3 class="my-title" data-mask="FOUNDER">- THÀNH VIÊN</h3>
                </div>
            </div>
            <div class="mr-2 avartar-nhom-hold" style="width:18%;display:inline-block">
                <img src="~/public/images/avartar/avatar_pic1.jpg" class="img-fluid rounded-circle avartar-nhom" style="transform-origin:center;transform:scale(0.6);" alt="Alternate Text" />
                <div class="avartar-nhom-name">Tú</div> 
            </div>
            <div class="mr-2 avartar-nhom-hold" style="width:18%;display:inline-block">
                <img src="~/public/images/avartar/avatar_pic2.jpg" class="img-fluid rounded-circle avartar-nhom" style="transform-origin:center;transform:scale(0.8) translateY(-15px);" alt="Alternate Text" />
                <div class="avartar-nhom-name">Điền</div>
            </div>
            <div class="mr-2 avartar-nhom-hold" style="width:18%;display:inline-block">
                <img src="~/public/images/avartar/avatar_pic3.jpg" class="img-fluid rounded-circle avartar-nhom" style="transform-origin:center;transform:translateY(-30px);" alt="Alternate Text" />
                <div class="avartar-nhom-name">Quân</div>
            </div>
            <div class="mr-2 avartar-nhom-hold" style="width:18%;display:inline-block">
                <img src="~/public/images/avartar/avatar_pic4.jpg" class="img-fluid rounded-circle avartar-nhom" style="transform-origin:center;transform:scale(0.8) translateY(-15px);" alt="Alternate Text" />
                <div class="avartar-nhom-name">Thiên</div>
            </div>
            <div class="avartar-nhom-hold" style="width:18%;display:inline-block">
                <img src="~/public/images/avartar/avatar_pic5.jpg" class="img-fluid rounded-circle avartar-nhom" style="transform-origin:center;transform:scale(0.6);" alt="Alternate Text" />
                <div class="avartar-nhom-name">Long</div>
            </div>
        </div>
    </div>
</div>

